# Virtual environments
venv/
venv_landmark/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Output files
data/output/videos/*.mp4

# Dataset
dataset/
dataset_raw/

# Models
models/
*.pth
*.pt
*.h5
*.caffemodel

# Optional system files
.DS_Store
Thumbs.db